<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team3">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team3">

        <receiver
            android:name=".ReceiverMin"
            android:enabled="true" />
        <receiver
            android:name=".ReceiverLow"
            android:enabled="true" />
        <receiver
            android:name=".ReceiverHigh"
            android:enabled="true" />
        <receiver
            android:name=".ReceiverDefault"
            android:enabled="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.team3.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ShowAllActivity" />
        <activity android:name=".ThemeSetActivity" />
        <activity android:name=".MyApplication" />
        <activity android:name=".PwdActivity" />
        <activity android:name=".NotfSetActivity" />
        <activity android:name=".LockSetActivity" />
        <activity android:name=".AddMemo" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".MainActivityC" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>